@model DepartmentContracts.ViewModels.LecturerDepartmentPostViewModel

@{
    ViewData["Title"] = "Подробнее о кафедральной должности";
}

<div class="app-card">
    <div class="app-card-header">
        <h2 class="app-card-title">Подробнее о кафедральной должности</h2>
        <div class="d-flex gap-2">
            <a class="btn btn-sm btn-light"
               asp-controller="LecturerDepartmentPosts"
               asp-action="Update"
               asp-route-id="@Model.Id">
                Изменить
            </a>

            <a class="btn btn-sm btn-light"
               asp-controller="LecturerDepartmentPosts"
               asp-action="List">
                К списку
            </a>
        </div>
    </div>

    <div class="p-3">
        <dl class="row mb-0">
            <dt class="col-sm-4 text-muted">
                Наименование кафедральной должности
            </dt>
            <dd class="col-sm-8">
                @Model.DepartmentPostTitle
            </dd>

            <dt class="col-sm-4 text-muted">
                Порядок отображения
            </dt>
            <dd class="col-sm-8">
                @Model.Order
            </dd>
        </dl>
    </div>
</div>