body {
  background: url(/img/background.png) center/cover no-repeat fixed;
}

table {
  margin-left: auto;
  margin-right: auto;
  border: 2px;
  border-style: solid;
  border-collapse: collapse;
}

td {
  border-style: solid;
  height: max-content;
}

td:nth-child(even) {
  background-color: #ccdae9;
}

td:nth-child(odd) {
  background-color: #fff;
}

td:first-child {
  background-color: #fef4cc;
}

p {
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

font {
  color: #212529;
}

a font {
  color: #004890;
}

a:hover font {
  color: #024;
}
